*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hoja{
    width: 700px;
    height: 700px;
    display: flex;
    margin-left: 35%;

}

.hoja>:nth-child(1){
    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 178, 124);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    
}
.hoja >:nth-child(1)>:nth-child(1){
    border: 3px solid rgb(0, 0, 0) ;
}
.hoja >:nth-child(1)>:nth-child(2){
    border: 3px solid black ;
}
.hoja >:nth-child(1)>:nth-child(3){
    border: 3px solid black ;
}